<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row" > 
                    <!-- left side div-->
                    <div class="col-md-6 col-12 main_header_right  align-items-center">
                       
                         <figure>
                             <img src="images/about.png" alt="abbas" class="img-fluid" title="Abbas">
                         </figure>
                        </div>
                    <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to weather App</p>
                      <h1>I am a <span class="text_clr">Mern stack developer</span> youtuber and freelancer</h1>
                      <a href="https://www.thapatechnical.com/" target="thapa"><button>About me</button></a>
                    </div>
                 <!-- right side div-->
               

             </div>
        </div>
    </div>
       <!--footer-->
      {{> footer}}
</body>
</html>